<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safaroff.bakuatm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.safaroff.bakuatm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.safaroff.bakuatm.ListBanksActivity"
            android:label="@string/title_activity_list_banks"
            android:parentActivityName="com.safaroff.bakuatm.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.safaroff.bakuatm.MainActivity" />
        </activity>
        <activity
            android:name="com.safaroff.bakuatm.ATMListActivity"
            android:label="@string/title_atm_list"
            android:parentActivityName="com.safaroff.bakuatm.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.safaroff.bakuatm.MainActivity" />
        </activity>
        <activity
            android:name="com.safaroff.bakuatm.ATMDetailActivity"
            android:label="@string/title_atm_detail"
            android:parentActivityName=".ATMListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ATMListActivity" />
        </activity>
        <activity
            android:name="com.safaroff.bakuatm.ShowMapActivity"
            android:label="@string/title_activity_show_map"
            android:parentActivityName="com.safaroff.bakuatm.ATMDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.safaroff.bakuatm.ATMDetailActivity" />
        </activity>
    </application>

</manifest>